<% include layout %>
<section>
  <h2>Books</h2>
  <ul>
    <li><a href='#'></a></li>
    <li><a href='#'></a></li>
    <li><a href='#'></a></li>
  </ul>
</section>
<section>
  <h2>Movies</h2>
  <p>This are the movies that I have watched.</p>
  <ul>
    <li><a href='http://www.imdb.com/title/tt0111161/?ref_=chttp_tt_1'>The Shawshank Redemption</a></li>
    <li><a href='http://www.imdb.com/title/tt0108052/?ref_=chttp_tt_7'>Schindler's List</a></li>
    <li><a href='http://www.imdb.com/title/tt0109830/?ref_=chttp_tt_15'>Forrest Gump</a></li>
  </ul>
</section>
<section>
  <h2>Music</h2>
  <ul>
    <li><a href='#'></a></li>
    <li><a href='#'></a></li>
    <li><a href='#'></a></li>
  </ul>
</section>
