<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ryan Zhang</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <header class="header">
      <section>
        <h1>Ryan Zhang</h1>
        <!--<img id="avatar" src="/images/photo.jpg" alt="photo" class="img-circle"/>-->
      </section>
    </header>
    <div class="row">
        <h2>Books</h2>
        <p>This page is for the books that I have read.</p>
            <a href='http://book.douban.com/subject/3066477/'>The Dark Forest</a>
            <img src="/images/book/the_dark_forest.jpg" alt="The Dark Forest" />
            <a href='http://book.douban.com/subject/5363767/'>Death's End</a>
            <img src="/images/book/death's_end.jpg" alt="Death's End" />
            <a href='http://book.douban.com/subject/1068920/'>Gone with the Wind</a>
            <img src="/images/book/gone_with_the_wind.jpg" alt="Gone with the wind" />
        <h2>Movies</h2>
        <p>This are the movies that I have watched.</p>
          <a href='http://www.imdb.com/title/tt0111161/?ref_=chttp_tt_1'>The Shawshank Redemption</a>
          <img src="/images/movie/the_shawshank_redemption.jpg" alt="The Shawshank Redemption" />
          <a href='http://www.imdb.com/title/tt0108052/?ref_=chttp_tt_7'>Schindler's List</a>
          <img src="/images/movie/schindler's_list.jpg" alt="Schindler's List" />
          <a href='http://www.imdb.com/title/tt0109830/?ref_=chttp_tt_15'>Forrest Gump</a>
          <img src="/images/movie/forrest_gump.jpg" alt="Forrest Gump" />
        <h2>Music</h2>
        <ul>
          <li class="list-unstyled"><a href='#'></a></li>
          <li class="list-unstyled"><a href='#'></a></li>
          <li class="list-unstyled"><a href='#'></a></li>
        </ul>
        <h2>About</h2>
        <ul>
          <li class="list-unstyled"><p>A web developer</p></li>
          <li class="list-unstyled"><p>A traveler</p></li>
        </ul>
    </div>
    <footer>
    </footer>
  </body>
</html>
