<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Web developer">
  <meta name="author" content="Ryan Zhang">
  <meta name="viewport" content="width=device-width">

  <title>Ryan Zhang</title>

  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
</head>
<body>
  <header class="header">
    <section>
      <h1>Ryan Zhang</h1>
    </section>
  </header>
</body>
</html>
