extends layout

block content
  h1= title
  p Welcome to #{title}
  p This page is for the movies that I have watched.
  a(href='http://www.imdb.com/title/tt0111161/?ref_=chttp_tt_1') The Shawshank Redemption
  br
  a(href='http://www.imdb.com/title/tt0108052/?ref_=chttp_tt_7') Schindler's List
  br
  a(href='http://www.imdb.com/title/tt0109830/?ref_=chttp_tt_15') Forrest Gump
  br
  a(href='http://www.imdb.com/title/tt0047478/?ref_=chttp_tt_21') Seven Samurai
  br
  a(href='http://www.imdb.com/title/tt0110413/?ref_=chttp_tt_28') Léon
  br
  a(href='http://www.imdb.com/title/tt0245429/?ref_=chttp_tt_37') Spirited Away
  br
  a(href='http://www.imdb.com/title/tt0209144/?ref_=chttp_tt_41') Memento
  br
  a(href='http://www.imdb.com/title/tt0088763/?ref_=chttp_tt_49') Back to the Future
