extends layout

block content
  h1= title
  p Welcome to #{title}
  p This page is for the books that I have read.
  a(href='http://book.douban.com/subject/3066477/') The Dark Forest
  br
  img(src='./public/images/the_dark_forest.jpg')
  br
  a(href='http://book.douban.com/subject/5363767/') Death's End
  br
  img(src='./public/images/death\'s_end.jpg')
  br
  a(href='http://book.douban.com/subject/1068920/') Gone with the Wind
  br
  img(src='./public/images/gone_with_the_wind.jpg')
