extends layout

block content
  h1= title
  p Welcome to #{title}
  div(class='navigate')
    a(href='/book') Books
    br
    a(href='/movie') Movies
    br
    a(href='/music') Music
    br
    a(href='/about') About me
